{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <label>Тема:
            <div class="col">
                <input type="text" name="title">
            </div>
        </label>
        <label>Сообщение:
            <div class="col">
                <textarea type="text" name="text"></textarea>
            </div>
        </label>
        <label>email:
            <div class="col">
                <input type="text" name="email">
            </div>
        </label>
        <div class="col-1">
            <button class="btn"><input type="submit"></button>
        </div>
    </div>
{% endblock %}